@import url("https://fonts.googleapis.com/css?family=Neucha&display=swap");
.slide1 {
  font-size: 70px;
  position: absolute;
  font-family: sans-serif;
  animation-name: fadeinout;
  animation-duration: 7s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  background-color: white;
}

.slide2 {
  position: absolute;
  animation-name: fadeinout;
  animation-duration: 5s;
  animation-delay: 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  overflow: hidden;
}

.slide3 {
  position: absolute;
  animation-name: fadeinout;
  animation-duration: 5s;
  animation-delay: 10s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  overflow: hidden;
}

.slide4 {
  position: absolute;
  animation-name: fadeinout;
  animation-duration: 5s;
  animation-delay: 15s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  overflow: hidden;
}

.slide5 {
  font-family: sans-serif;
  position: absolute;
  animation-name: fadeinout;
  animation-duration: 3s;
  animation-delay: 20s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  overflow: hidden;
  background-color: black;
}

.slide6 {
  animation-name: fadein;
  animation-duration: 3s;
  animation-delay: 23s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  background-color: white;
}

@keyframes fadeinout {
  0%,
  100% {
    opacity: 0;
    position: absolute;
  }
  30%,
  80% {
    opacity: 1;
    position: absolute;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeout {
  100% {
    position: absolute;
    opacity: 100;
  }

  0% {
    position: absolute;
    opacity: 10;
  }
}
