.buzz-container {
  height: 100vh;
  width: 200vh;
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
  align-items: center;
  overflow: hidden;
  opacity: 0;
}

.wrapper {
  width: 500px;
  margin: 0 auto;
  position: relative;
  text-align: center;
}

body {
  overflow-x: hidden;
  margin: 0;
  padding-bottom: 100px;
  background-color: black;
}

.btext {
  font-family: "Cardo", serif;
  font-size: 40px;
}
.illegal {
  font-family: "Oswald", sans-serif;
  width: 25%;
  color: red;
  font-size: 70px;
  word-break: break-word;
  text-align: center;
}

.bg-black {
  background: black;
}

.landing-buttons {
  display: flex;
  justify-content: space-around;
  align-content: center;
}

.landing-buttons input {
  background-color: red;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  margin: 15px 2px 30px;
  cursor: pointer;
}
