.bg-shatter {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
    url("../images/shattered-blood.jpg");
  color: white;
  font-size: 150px;
  font-weight: 500px;
}

.wrapper h1 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 6rem;
  display: flex;
  color: transparent;
  margin-bottom: 0;
  height: 40vh;

  width: 200vw;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  align-items: center;
}
.wrapper h1:before {
  content: "Rights?";
  position: absolute;
  top: 0px;
  left: 22px;
  color: white;
  -webkit-clip-path: inset(0px 298px 0px 0px);
  clip-path: inset(0px 298px 0px 0px);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.wrapper h1 span:before {
  content: "Rights?";
  position: absolute;
  top: 0px;
  left: 22px;
  color: white;
  -webkit-clip-path: inset(0px 200px 0px 54px);
  clip-path: inset(0px 180px 0px 134px);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.wrapper h1:after {
  content: "Rights?";
  position: absolute;
  right: 24px;
  top: 0px;
  color: white;
  -webkit-clip-path: inset(0px 100px 0px 250px);
  clip-path: inset(0px 100px 0px 250px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.wrapper h1 span:after {
  content: "Rights?";
  position: absolute;
  right: 24px;
  top: 0px;
  color: white;
  -webkit-clip-path: inset(0px 0px 0px 353px);
  clip-path: inset(0px 0px 0px 353px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.wrapper h1 .wrapper:hover:after {
  top: 10px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.6);
}
.wrapper h1:hover:before {
  top: -10px;
  left: 0px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.6);
}
.wrapper h1:hover span:before {
  top: 4px;
  cursor: pointer;
}
.wrapper h1:hover span:after {
  top: -8px;
  left: 30px;
  cursor: pointer;
}
